.action {
  font: 190% "Noto Sans Math";
  background: #283241;
  color: #c4c9ec;
}

.operation {
  font-family: "Noto Sans Math";
  font-size: 250%;
  background: #283241;
  color: #c4c9ec;
}

.equal {
  font-family: "Noto Sans Math";
  font-size: 250%;
  background: #337391;
  color: #c4c9ec;
}

.number {
  font-size: 160%;
  background: #39485d;
  color: rgba(255, 255, 255, 255);
}

.input {
  font-family: "Noto Sans Math";
  font-size: 300%;
  color: #bdbdbd;
  box-shadow: none;
}

.result {
  font-size: 160%;
  color: #bdbdbd;
}
